

@font-face {
    font-family: 'pluto_sanscond_regular';
    src: url('fonts/pluto-sans-condensed-regular.eot');
    src: url('fonts/pluto-sans-condensed-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-regular.woff') format('woff'),
         url('fonts/pluto-sans-condensed-regular.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-regular.svg#pluto_sanscond_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'pluto_sanscond_light';
    src: url('fonts/pluto-sans-condensed-light.eot');
    src: url('fonts/pluto-sans-condensed-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/pluto-sans-condensed-light.woff') format('woff'),
         url('fonts/pluto-sans-condensed-light.ttf') format('truetype'),
         url('fonts/pluto-sans-condensed-light.svg#pluto_sanscond_light') format('svg');
    font-weight: normal;
    font-style: normal;

}


