/**
 * Elyse theme!
 * Author: Elyse Holladay
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "fonts.css";
// ---------------------------------------------


// Colors


$black: #000;
$white: #fff;
$navy: darken(#012E51,10%);
$blue-dark: #012E51;
$blue: darken(rgb(35, 128, 226),15%);
$blue-light: rgb(99, 159, 222);
$blue-pale: rgb(206, 226, 247);
$orange: #FF851B;
$green: darken(rgb(130, 179, 0),10%);
$purple: rgb(156, 39, 176);
$purple-dark: darken($purple,25%);
$fuchsia: rgb(194, 24, 91);
$yellow: rgb(255, 202, 0);
$crimson: crimson;

// Primary/body text
$mainFont: 'pluto_sanscond_light', 'PlutoSansCondLight', sans-serif;
$mainFontSize: 36px;
$mainColor: $white;

// Headings
$headingFont: 'pluto_sanscond_light', "PlutoSansCondLight", "PlutoSansCondLight", 'pluto_sanscond_regular', 'PlutoSansRegular', Impact, sans-serif;
$headingColor: $white;
$headingLineHeight: 1.25em;
$headingLetterSpacing: 0;
$headingTextTransform: none;
// $headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: $white;
$linkColorHover: $blue;

// Text selection
$selectionBackgroundColor: $purple;
$selectionColor: $white;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

body {
    background: $purple-dark;
}

.fuchsia body {
    background: $fuchsia;
}

.crimson body {
    background: $crimson;
}

.blue body {
    background: $blue;
}

.green body {
    background: $green;
}

.black body {
    background: $black;
}

.fuchsia {
    color: $fuchsia;
}

.reveal .code {
    font-family: "FiraMono", "Inconsolata", "Menlo", monospace;
}

.reveal p {
    line-height: 1.5;
}

.reveal h4 {
    font-family: 'pluto_sanscond_regular', "PlutoSansCondRegular";
    font-size: 38px;
}

.reveal h5 {
    text-transform: uppercase;
    font-size: 24px;
}

.reveal h6 {
    color: transparentize($white,.25);
    font-size: 20px;
    line-height: 20px;
    // margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'pluto_sanscond_regular', "PlutoSansRegular";
}

.highlight {
    color: $white;
}

.faded {
    color: transparentize($white,.5);
}

.purple {
    color: $purple;
}

.navy body {
    background: $navy;
}

.typekit-badge {display: none !important;}
